[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-standard-interfaces"]
	path = lib/solidity-standard-interfaces
	url = https://github.com/ainmox/solidity-standard-interfaces
